<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    @*<meta name="viewport" content="width=device-width, initial-scale=1.0" />*@
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/nathy.css" asp-append-version="true" />
    <link href="https://fonts.googleapis.com/css2?family=Birthstone&family=Inter&family=Lemonada&family=Loved+by+the+King&display=swap" rel="stylesheet">

    @*<link rel="stylesheet" href="~/CurriculoMVC.styles.css" asp-append-version="true" />*@
</head>
<body>

    @RenderBody()

    @*<script src="~/lib/jquery/dist/jquery.min.js"></script>*@
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/nathy.js" asp-append-version="true"></script>
    @*@await RenderSectionAsync("Scripts", required: false)*@
</body>
</html>
