@{
    ViewData["Title"] = "Currículo";
}

        <div>
            <div id="divDownload">
                <text>
                    <br />
                    Aqui você pode fazer o download do meu currículo <br />
                    e obter mais informações sobre mim <br />
                </text>
                <a download href="~/files/Curriculo Nathyelly L Abreu.docx">
                    <img src="~/images/download.png" id="iconeDownload" />
                </a>
            </div>
        </div>
   
