@{
    ViewData["Title"] = "Teste";
}
<div style="text-align: center; font-size: 50px; margin-top: 300px">

    Oi

</div>
<div style="text-align: center; margin-top: 50px">
    <a href="~/Home/Index">Voltar ao Portfólio</a>
</div>

