@{
    ViewData["Title"] = "Sobre mim";
}

        <div>

            <div id="textoOla" style="margin-left: 15%">
                <text>
                    <br />
                    Olá, Seja bem-vindo (a)! <br /> <br />

                    Este é um portfólio criado com o intuíto de mostrar alguns projetos feitos por mim <br />
                    enquanto estudo programação.<br />
                    O aprendizado pode ser visualizado desde a criação do site até o conteúdo em cada aba e suas funcionalidades. <br />
                    Até o momento, há uma calculadora, um jogo chamado Jogo da Velha e um formulário de músicas. <br />
                    Sinta-se a vontade para jogar e testar o site ;)
                </text>
            </div>
        </div>
   
